html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

p {
  color: #333;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

a {
  color: #44384f;
  text-decoration: none;
}

a:hover {
  color: #44384f;
}

.principal-nav {
  background: transparent;
  color: #333;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.sign-in {
  display: block;
  float: right;
  margin: 5px 30px 0 0;
}

.logo {
  background: url(../images/kampo-marino-logo.png) no-repeat;
  background-size: 100%;
  display: block;
  float: left;
  height: 66px;
  margin: 20px 0;
  text-indent: -10000px;
  width: 168px;
}

.logo.produtos-logo {
  background: url(../images/kampo-marino-logo-white.png) no-repeat;
}

#navbar.navbar-brand-scroll .logo {
  background: url(../images/kampo-marino-logo-branco.png) no-repeat;
  height: 40px;
  width: 100px;
}

#navbar.navbar-brand-scroll .principal-menu {
  margin-top: 20px;
}

#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: transparent url(../images/menu-icon.png) center no-repeat;
}

.principal-menu {
  float: right;
  margin-top: 20px;
}

.principal-menu li {
  display: inline;
  margin: 0 10px;
}

.principal-menu li:last-child {
  margin-right: 0;
}

.principal-menu li a {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 5px;
  text-decoration: none;
}

.principal-menu li a.produtos-menu {
  color: #333;
  font-weight: 400;
}

.principal-menu li a.produtos-menu:hover {
  color: #333;
  border-bottom: 3px solid #fff;
}

.principal-menu li a:hover {
  border-bottom: 3px solid #fff;
  color: #fff;
  text-decoration: none;
}

.principal-menu.product-detail li a {
  color: #333;
}

.principal-menu.product-detail li a:hover {
  border-bottom: 3px solid #333;
  color: #333;
  text-decoration: none;
}

.principal-menu.product-detail li a.navbar-link-style:hover {
  color: #fff;
  border-bottom: #fff solid 3px;
}

.principal-menu.product-detail li a.navbar-no-bg:hover {
  color: #333;
  border-bottom: #333 solid 3px;
}

.content {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}


/* HOME */

.home-principal-image {
  margin: 0 auto;
}

.first-scroll {
  background: url(../images/bg_home-picture2.png) no-repeat;
  max-width: 100%;
  background-size: 100%;
  /*height: 100%;*/
}

.first-scroll .container {
  padding: 15% 3%;
  text-align: center;
}

.main-title {
  color: #fff;
  font-size: 45px;
  font-weight: 300;
  line-height: 52px;
  margin: 0 auto 10px;
  letter-spacing: 0.015em;
}

.section-title {
  font-family: 'Roboto Condensed', arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  margin: 0px;
}

.section-title span {
  font-family: 'League Gothic', arial, sans-serif;
  font-size: 60px;
  line-height: 62px;
}

.subtitle {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
  line-height: 28px;
  letter-spacing: 0.015em;
}

button.button-big {
  background: #44384f;
  border: none;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 60px;
  padding: 10px;
  width: 300px;
}

.first-scroll button.button-big {
  margin: auto;
}

.image-medium {
  max-width: 100%;
}

.crop-mask-left {
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
  clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
}

.crop-mask-right {
  -webkit-clip-path: polygon(90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%, 0 0);
  clip-path: polygon(90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%, 0 0);
}

.crop-mask-left-bottom {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 20% 100%, 0 80%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 20% 100%, 0 80%, 0 0);
}

.crop-mask-right-top {
  -webkit-clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
}

.section-block {
  padding: 80px 0;
}

.section-block a {
  color: #330066;
}

.section-block p {
  color: #333;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.purple-dash {
  background-color: #493c55;
  display: inline-block;
  height: 4px;
  margin: 20px 0;
  padding: 0;
  width: 50px;
}

.how.section-block {
  padding: 0;
}

.how .container {
  background: url(../images/bg-quem-faz.png) no-repeat;
  background-size: 100%;
}

.how .board {
  background: rgba(73,60,85, 0.9);
  margin-top: 80px;
  margin-bottom: 80px;
}

.how h1, .how p {
  color: #fff;
  text-align: center;
  margin: auto;
}

.how hr {
  background-color: #fff;
  display: block;
  margin: 20px auto;
}

.board-text {
  margin: 50px auto;
}

.products-thumbs li {
  float: left;
  list-style: none;
  margin: 0 0 2% 2%;
}

.products-thumbs li.third-child {
  margin-left: 0;
}

.products h1,
.products p,
.contact h1,
.contact p {
  text-align: right;
}

.products hr,
.products a,
.contact hr,
.contact a {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.comments.section-block {
  background: #44384f;
}

.comments p {
  color: #fff;
}

.contact-list {
  text-align: left;
}

/* QUOTATIONS */

#quotation-section h1,
#quotation-section p {
  color: #fff;
  text-align: center;
}

#quotation-section h2 {
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 20px;
}

#quotation-section hr {
  background-color: #fff;
  display: block;
  margin: 0 auto 20px;
}

#quotation-section small {
  color: #fff;
  font-style: italic;
  text-align: right;
}

#quotation-section span {
  display: inline-block;
  margin: 10px 0 20px;
  color: #fff;
}


/* PRODUTOS */

.top-image {
  background: url(../images/bg-produtos.png) no-repeat;
  background-position: center;
  background-size: 100%;
  height: 340px;
  margin-bottom: 30px;
}

.top-image.quem-somos-bg {
  background: url(../images/bg-quem-somos.png) no-repeat;
  background-position: center;
  background-size: 100%;
}

.top-image .main-title {
  font-family: 'League Gothic', arial, sans-serif;
  font-size: 60px;
  line-height: 62px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-top: 160px;
  text-align: center;
}

.products-wrapper aside,
.products-wrapper .product-details {
  margin-top: 60px;
}

.products-wrapper li {
  list-style: none;
}

.products-wrapper li:first-child {
  margin-bottom: 20px;
}

.products-wrapper aside li {
  color: #666;
}

.products-wrapper hr {
  float: left;
  margin: 8px 15px 0 0;
}

.products-wrapper li h3 {
  color: #48457F;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  margin-left: 0px;
}

.products-wrapper aside li a {
  color: #666;
  padding: 4px;
  line-height: 26px;
  font-weight: 400;
}

.products-wrapper aside li a:hover {
  background-color: #44384f;
  text-decoration: none;
  color: #fff;
}

.products-wrapper aside ul {
  margin-bottom: 40px;
}

.products-wrapper button {
  margin: 40px auto 80px;
}

.products-list-thumb {
    margin-bottom: 100px;
}

.products-list-thumb span {
  display: block;
  padding: 10px;
  min-height: 115px;
}

.products-list-thumb li,
.products-list-thumb .product-thumb-item,
.products-list-thumb li:first-child {
  background-color: #f5f5f5;
  margin: 0 10px 20px;
}

.products-list-thumb li:hover,
.products-list-thumb .product-thumb-item:hover {
  background-color: #44384f;
  text-decoration: none;
  color: #fff;
}

.products-list-thumb li:hover a,
.products-list-thumb .product-thumb-item:hover a {
  color: #fff;
  font-weight: 200;
  text-decoration: none;
}

.products-list-thumb li img,
.products-list-thumb .product-thumb-item img {
  max-width: 100%;
}

#product-page aside {
  margin-top: 0;
}

.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: none;
}

.post-thumb-img:hover .img-hover {
  display: block;
}

.products-list-thumb h1 {
  font-family: 'League Gothic', arial, sans-serif;
  font-size: 26px;
  letter-spacing: 0.5px;
  margin: 10px 0 5px;
  line-height: 30px;
}

.products-list-thumb small {
  margin-top: 0;
  font-size: 12px;
}

/* PRODUTOS DETALHE */

.product-details .product-name {
  font-family: 'League Gothic', arial, sans-serif;
  font-size: 40px;
  letter-spacing: 0.5px;
  line-height: 42px;
  margin: 0;
}

.product-photos {
  margin-top: 20px;
}

.product-photos img {
  max-width: 100%;
}

.product-photos ul {
  margin-top: 20px;
}

.product-details .structure-type {
  margin-top: 40px;
}

.product-details .products-list-thumb li:first-child {
  margin-left: 0;
}

.product-details-title {
  margin-bottom: 30px;
}

.product-thumb-item {
  /* display: none; */
}

/* QUEM SOMOS */

.structure p {
  margin: 0 20px 40px 0;
}

.structure li {
  list-style: none;
}

.structure-type img {
  max-width: 100%;
}

.structure-type h2,
.products-list-thumb h2 {
  color: #666;
  font-family: 'League Gothic', arial, sans-serif;
  font-size: 30px;
  letter-spacing: 0.3px;
  margin-bottom: 15px;
}

.quem-somos-text {
  background: #f1f2f2;
  padding: 200px 0;
}

.top-image.quem-somos-bg {
  margin-bottom: 0;
}

.quem-somos-kampomarino h1 {
  text-align: right;
}

.quem-somos-kampomarino hr {
  float: right;
}

.last-block {
  padding-bottom: 80px;
}

.quem-somos_last-block {
  background: #f1f2f2;
  padding-top: 120px;
  padding-bottom: 120px;
}

.contact-form {
  max-width: 500px;
}

.contact-form-text {
  padding-top: 30px;
}

/* FOOTER */

footer {
  background: url(../images/bg-footer.png) center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 40px 0 10px;
}

footer .footer-grid {
  margin-bottom: 70px;
}

footer li {
  list-style: none;
}

footer .copyright p {
  color: #fff;
  font-size: 12px;
  text-align: right;
}

footer .social-media {
  float: right;
}

footer .social-media li {
  float: left;
}

footer .social-media li a {
  display: inline-block;
  margin: 0 14px;
  height: 36px;
  text-indent: -20000px;
  width: 36px;
}

footer .social-media li a.social-media-facebook {
  background-image: url(../images/icons-sprite.png);
  background-position: -84px -47px;
}

footer .social-media li a.social-media-instagram {
  background-image: url(../images/icons-sprite.png);
  background-position: -84px -95px;
  margin-right: 0;
}

/* CONTACT */

.contact.section-block {
  padding-top: 120px;
}

.contact-list li {
  line-height: 40px;
  text-indent: 10px;
}

.contact-list li span {
  float: left;
  height: 40px;
  text-indent: -20000px;
  width: 40px;
}

.contact-list li.contact-list-whatsapp span {
  background-image: url(../images/icons-sprite.png);
  background-position: -41px 2px;
}

.contact-list li.contact-list-phone span {
  background-image: url(../images/icons-sprite.png);
  background-position: -41px -37px;
}

.contact-list li.contact-list-email span {
  background-image: url(../images/icons-sprite.png);
  background-position: -41px -71px;
  margin-right: 0;
}

.address p {
  color: #fff;
  margin-left: 50px;
}

.address span {
  float: left;
  height: 32px;
  text-indent: -20000px;
  width: 40px;
  background-image: url(../images/icons-sprite.png);
  background-position: -39px -109px;
}

.contact-info li {
  list-style: none;
}

.contact-info p {
  text-align: left;
}

.contact-info .contact-list li.contact-list-whatsapp span {
  background-position: 2px 2px;
}

.contact-info .contact-list li.contact-list-phone span {
  background-position: 2px -37px;
}

.contact-info .contact-list li.contact-list-email span {
  background-position: 2px -71px;
  margin-right: 0;
}

.contact-info .address {
  margin: 18px 0 0;
}

.contact-info .address p {
  color: #666;
}

.contact-info .address span {
  background-position: 2px -109px;
}

.maps {
  margin-top: 20px;
}


/* SLIDER STYLE */


/* jssor slider arrow navigator skin 05 css */
        /*
        .jssora05l                  (normal)
        .jssora05r                  (normal)
        .jssora05l:hover            (normal mouseover)
        .jssora05r:hover            (normal mouseover)
        .jssora05l.jssora05ldn      (mousedown)
        .jssora05r.jssora05rdn      (mousedown)
        .jssora05l.jssora05lds      (disabled)
        .jssora05r.jssora05rds      (disabled)
        */

        .jssora05l, .jssora05r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url('../img/a17.png') no-repeat;
            overflow: hidden;
        }
        .jssora05l { background-position: -10px -40px; }
        .jssora05r { background-position: -70px -40px; }
        .jssora05l:hover { background-position: -130px -40px; }
        .jssora05r:hover { background-position: -190px -40px; }
        .jssora05l.jssora05ldn { background-position: -250px -40px; }
        .jssora05r.jssora05rdn { background-position: -310px -40px; }
        .jssora05l.jssora05lds { background-position: -10px -40px; opacity: .3; pointer-events: none; }
        .jssora05r.jssora05rds { background-position: -70px -40px; opacity: .3; pointer-events: none; }
        /* jssor slider thumbnail navigator skin 01 css *//*.jssort01 .p            (normal).jssort01 .p:hover      (normal mouseover).jssort01 .p.pav        (active).jssort01 .p.pdn        (mousedown)*/

        .jssort01 .p {
          position: absolute;
          top: 0;
          left: 0;
          width: 72px;
          height: 72px;
        }

        .jssort01 .t {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: none;
        }

        .jssort01 .w {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
        }

        .jssort01 .c {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 68px;
          height: 68px;
          border: none;
          box-sizing: content-box;
          background: url('../img/t01.png') -800px -800px no-repeat;    _background: none;
        }

        .jssort01 .pav .c {
          top: 2px;    _top: 0px;
          left: 2px;    _left: 0px;
          width: 68px;
          height: 68px;
          border: none;    _border: none;
          background-position: 50% 50%;
        }

        .jssort01 .p:hover .c {
          top: 0px;
          left: 0px;
          width: 70px;
          height: 70px;
          border: none;
          background-position: 50% 50%;
        }

        .jssort01 .p.pdn .c {
          background-position: 50% 50%;
          width: 68px;
          height: 68px;
          border: none;
        }

        * html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
          /* ie quirks mode adjust */
          width /**/: 72px;
          height /**/: 72px;
        }



/* MEDIA QUERY */

@media only screen and (max-width:1130px) {

  .container {
    width: 100%;
    padding: 5%;
  }

  #navbar .container {
    padding: 0 5%;
  }

  #product-page.products-wrapper aside {
    display: none;
  }

  .products-list-thumb.nine {
    width: 100%;
    margin: 0 auto 0;
  }

  .first-scroll {
    background-size: 150%;
    background-position: center;
  }
}


@media only screen and (max-width:640px) {

  .container {
    width: 100%;
    padding: 5%;
  }

  .first-scroll {
    background-size: 400%;
    background-position: center;
    /* background-image: none; */
  }

  .main-title {
    color: #fff;
    padding-top: 60px;
  }

  .subtitle {
    color: #fff;
  }

  .principal-nav {
    background-color: rgba(255, 255, 255, 0.5);
  }

  #navbar .container {
    /* background-color: #fff; */
  }

  .logo {
    margin: 10px 0px;
    width: 30%;
    background-size: 100%;
    height: auto;
  }

  .top-image,
  .top-image.quem-somos-bg {
    background-size: cover;
    background-position: center;
  }

  #menu-icon {
    display: inline-block;
    float: right;
    margin: 10px 0;
  }

  .principal-nav {
    /* position: absolute; */
  }

  .why.section-block {
    border-top: solid 1px #ccc;
    margin-bottom: 150px;
  }

  .why .image-medium {
    margin-bottom: 20px;
  }

  .how .board {
    margin-top: 0;
    padding: 20px 40px;
  }

  .how .container {
    /* background-image: none; */
  }

  .products h1, .products p,
  .contact h1, .contact p {
    text-align: left;
  }

  .products hr, .products a,
  .contact hr, .contact a {
    float: left;
  }

  .products a {
    margin-bottom: 30px;
  }

  .products-thumbs li {
    float: none;
    margin: 0;
  }

  .products-list-thumb .product-thumb-item {
    margin: 0 0 20px;
  }

  .products-wrapper aside {
    display: none;
  }

  .wrapper_principal-menu {
    position: relative;
    width: 100%;
    height: 100%;
  }

  nav ul, nav:active ul.principal-menu {
    display: none;
    position: absolute;
    /* padding: 20px; */
    background: #333;
    color: #fff;
    border: none;
    margin: 0;
    margin-top: 0;
    padding-top: 35%;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
  }

  .principal-menu {
    margin-top: 0;
  }

  .principal-menu li {
    background: #333;
    margin: 0;
    margin-top: 60px;
  }

  .principal-menu li a {
    font-size: 30px;
    display: block;
    padding: 30px 0;
    background: #333;
  }

  .principal-menu li a:hover {
    border: none;
  }


  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    display: block;
  }

  .principal-nav li a {
    color: #fff;
  }

  nav:hover ul {
    display: block;
  }

  .products-list-thumb li {
    margin: 20px 0;
  }

  footer a {
    color: #fff;
  }

  footer .address {
    margin-top: 10px;
  }

  footer .social-media {
    float: none;
    margin-top: 50px;
  }

  footer .footer-grid {
    margin-bottom: 20px;
  }

  footer .copyright p {
    text-align: left;
  }
}
