html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.principal-nav {
  background: #44384f;
  color: #fff;
  height: 60px;
}

.sign-in {
  display: block;
  float: right;
  margin: 5px 30px 0 0;
}

.logo {
  background: url(../images/kampo-marino-logo-branco.png) no-repeat;
  display: block;
  float: left;
  height: 37px;
  margin: 10px 30px;
  text-indent: -10000px;
  width: 100px;
}

.principal-menu {
  float: right;
  margin-top: 20px;
}

.principal-menu li {
  display: inline;
  margin: 0 10px;
}

.principal-menu li:last-child {
  margin-right: 0;
}

.principal-menu li a {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 5px;
}

.principal-menu li a:hover {
  border-bottom: 3px solid #484577;
}

a {
  color: #1F7E95;
  text-decoration: none;
}

a:hover {
  color: #32B1B7;
}

.content {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.home-principal-image {
  margin: 0 auto;
}

.first-scroll {
  background: url(https://unsplash.it/1600/2000/?random) no-repeat;
  height: 100%;
}

.first-scroll .container {
  padding: 15%;
}

.main-title {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 20px;
}

.section-title {
  font-family: 'Roboto Condensed', arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 0px; 
}

.section-title span {
  font-family: 'League Gothic', arial, sans-serif;
  font-size: 60px;
  line-height: 62px;
}

.subtitle {
  color: #fff;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
}

button.button-big {
  background: #44384f;
  border: none;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 60px;
  padding: 10px;
  margin: auto;
  width: 300px;
}

.image-medium {
  max-width: 100%;
}

.section-block {
  padding: 90px 0;
}

.section-block a {
  color: #330066;
}

.section-block p {
  color: #333;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 26px;
}

.purple-dash {
  background-color: #493c55;
  display: inline-block;
  height: 4px;
  margin: 20px 0;
  padding: 0;
  width: 50px;
}

.how.section-block {
  padding: 0;
}

.how .container {
  background: url(https://unsplash.it/1600/2000/?random) no-repeat;
}

.how .board {
  background: rgba(73,60,85, 0.9);
  margin-top: 80px;
  margin-bottom: 80px;
}

.how h1, .how p {
  color: #fff;
  text-align: center;
  margin: auto;
}

.how hr {
  background-color: #fff;
  display: block;
  margin: 20px auto;
}

.board-text {
  margin: 50px auto;
}

.products-thumbs li {
  float: left;
  list-style: none;
}

.products-thumbs li.third-child {
  margin-left: 0;
}

.products h1,
.products p,
.contact h1,
.contact p {
  text-align: right;
}

.products hr,
.products a,
.contact hr,
.contact a {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.comments.section-block {
  background: #44384f;
}

.comments p {
  color: #fff;
}

.contact-form {
  background: #ccc;
}

.contact-form p {
  font-size: 16px;
  font-style: italic;
  height: 315px;
  width: 300px;
}
